.textarea {
  border: none;
  resize: none;
  background-color: transparent;
  caret-color: white;
  padding: 0;
  position: relative;
  outline: none;
  z-index: 2;

  font-size: 25px;
  width: 100%;

  &::placeholder {
    color: white;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  & {
    scrollbar-width: none;
  }

  border: none;
  color: white;

  box-sizing: border-box;

  padding-top: 9px;
  padding-left: 9px;
}
