.taskTitle {
  font-size: 20px;
  margin-left: 16px;
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  max-width: 280px;
}

.taskTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}

.taskTitleDescription {
  font-size: 20px;
  margin-bottom: 4px;
}

.taskTitleContainer {
  display: flex;
  align-items: center;
}

.taskDescription {
  font-size: 20px;
  margin-bottom: 4px;

  position: relative;

  display: -webkit-box;

  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
}

.projectTasksListItemWrapper {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 526px;
  padding: 12px;
}

.statusWrapper {
  height: 24px;
}

.subTasksIconWrapper {
  display: flex;
  align-items: center;
}

.subTaskIcon {
  transition: 0.3s;

  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}
