.adminPanelProjectsListItemWrapper {
  position: relative;

  width: 460px;
  height: 100%;
  margin-right: 12px;
  margin-bottom: 12px;

  max-width: 460px;
  min-height: 264px;
  margin-top: var(--space-24);

  background-color: rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  border-radius: 10px;

  padding: 16px;
  box-sizing: border-box;
  text-align: start;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background: center top / cover no-repeat;

    border-radius: 10px;
    opacity: 1;

    box-shadow: 0 0 0 700px rgba(0, 0, 0, 0.5) inset;
  }

  transition: 0.3s;

  &:hover {
    z-index: 1;

    transform: translateY(-3px);
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-right: 0;
  }
}

.title {
  position: relative;

  display: -webkit-box;

  overflow: hidden;
  color: white;
  font-size: 20px;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
}

.titleWrapper {
  height: 70px;
  margin-top: 30px;
}

.projectDescription {
  position: relative;
  color: white;
  font-size: 20px;
  z-index: 2;
}

.deleteIconWrapper {
  position: relative;
  width: 28px;
  height: 28px;
  background: white;
  z-index: 2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
