.projectTabs {
  height: 100%;
  width: 100%;
  max-width: 300px;
  position: sticky;
  top: 65px;

  @media (max-width: 610px) {
    position: static;
    max-width: 100%;
  }
}

.rootTabs {
  display: flex;
  height: 100%;
  width: 100%;

  @media (max-width: 610px) {
    flex-direction: column;
  }
}
