.projectTabs {
  height: 100%;
  width: 100%;
  max-width: 300px;
  position: sticky;
  top: 65px;

  @media (max-width: 610px) {
    position: static;
    max-width: 100%;
  }
}

.rootTabs {
  display: flex;
  height: 100%;
  width: 100%;

  @media (max-width: 610px) {
    flex-direction: column;
  }
}


.loadingWrapper {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  margin-top: 12px;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}