.rootHeader {
  padding: 20px 40px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;

  @media (max-width: 517px) {
    padding: 20px 5px;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.headerLink {
  margin-right: 16px;

  a {
    padding: 8px;
    transition: 0.3s;

    &:hover {
      background: grey;
      border-radius: 10px;
    }
  }

  &:last-child {
    margin: 0;
  }

  @media (max-width: 375px) {
    margin-right: 0;
  }
}

.active {
  background: #007cff;
  color: white;
  border-radius: 10px;

  &:hover {
    background: #007cff !important;
  }
}

.headerLogoutButton {
  margin-top: 0;
}
