.projectDescriptionWrapper {
  margin-top: 32px;
  width: 100%;
  max-width: 832px;
}

.projectDescriptionWrapperTitle {
  font-size: 20px;
  font-weight: 500;
}

.textareaDescriptionWrapper {
  border: 1px solid grey;
  max-width: 896px;
  border-radius: 10px;
  margin-top: 12px;
  height: 184px;
  padding-top: 15px;

  box-sizing: border-box;

  color: black;
  caret-color: black;
}
